@model MSFSAddons.Models.ViewModels.FileManagerViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Themes/FrontEnd/_MyProfile.cshtml";
}
@Html.ValidationSummary(true)

<form method="post" enctype="multipart/form-data" asp-controller="FileManager" asp-action="UploadFiles">
    <dl>
        <dt>
            <label asp-for="File"></label>
        </dt>
        <dd>
            <div class="editor-field">

                <input type="hidden" name="UploadServiceType" value="1" />
                <input type="file" name="File" id="File" multiple />
            </div>

        </dd>
    </dl>
    <button type="submit" class="btn btn-primary" id="UploadBtn" name="UploadBtn">Upload File...</button>
    <div class="row">
        <div class="col-sm-4">
            <div id="progressbar-5">
                <div class="progress-label">
                </div>
            </div>
        </div>
        </div>

</form>
