<ul class="side-menu">
    <li class="slide">
        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-airplay"></i><span class="side-menu__label">Dashboard</span><i class="angle fa fa-angle-right"></i></a>
        <ul class="slide-menu">
            <li><a class="slide-item" href="/Admin/DashBoard">Home</a></li>
        </ul>
    </li>
    <li class="slide">
        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-airplay"></i><span class="side-menu__label">Downloads</span><i class="angle fa fa-angle-right"></i></a>
    </li>
    <li class="slide">
        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-settings"></i><span class="side-menu__label">Addon Managment</span><i class="angle fa fa-angle-right"></i></a>
        <ul class="slide-menu">
            <li><a class="slide-item" href="page-details.html">Airplanes</a></li>
            <li><a class="slide-item" href="page-details1.html">Countries</a></li>
            <li><a class="slide-item" href="page-list-right.html">Liveries</a></li>
            <li><a class="slide-item" href="page-list.html">Mods</a></li>
            <li><a class="slide-item" href="page-details1.html">Sdk Tools</a></li>
            <li><a class="slide-item" href="page-details1.html">Scenery</a></li>

        </ul>
    </li>
    <li class="slide">
        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-grid"></i><span class="side-menu__label">Apps</span><i class="angle fa fa-angle-right"></i></a>
        <ul class="slide-menu">
            <li>
                <a href="/Role/" class="slide-item">Role Manager</a>
            </li>
            <li>
                <a href="/Users/" class="slide-item">Users</a>
            </li>            
        </ul>
    </li>
    <li>
        <a class="side-menu__item" href="widgets.html"><i class="side-menu__icon fe fe-box"></i><span class="side-menu__label">Widget</span></a>
    </li>
    <li class="slide">
        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-calendar"></i><span class="side-menu__label">Calendar</span><i class="angle fa fa-angle-right"></i></a>
        <ul class="slide-menu">
            <li>
                <a href="calendar.html" class="slide-item">Default calendar</a>
            </li>
            <li>
                <a href="calendar2.html" class="slide-item">Full calendar</a>
            </li>
        </ul>
    </li>

    <li class="slide">
        <a href="../../../../Documentation/index.html" class="btn btn-light btn-block mt-3">Documentation</a>
    </li>
</ul>