@model MSFSAddons.ViewModels.ClubInvitesViewModel
<!-- Modal -->
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Invite</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Invites" asp-controller="ClubMembers" role="form">
                    You are sending from the member with email address of:
                    @Model.FromMember

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Send Invite To:</label>
                        <input type="text" class="form-control" value="@Model.ToMember" name="ToMember" id="ToMember">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send Invite</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>