
:root {
    --avatar-size: 2rem;
    /* change this value anything, e.g., 100px, 10rem, etc. */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.circle {
    background-color:purple;
    border-radius: 50%;

    height: var(--avatar-size);
    text-align: center;
    width: var(--avatar-size);
}

.initials {
    font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
    color:whitesmoke;
    line-height: 1;
    position: relative;
    top: calc(var(--avatar-size) / 4); /* 25% of parent */
}
