@model MSFSClubManager.Dal.Models.FileManger

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Themes/DashBoard/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>FileManger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ConflictId" class="control-label"></label>
                <input asp-for="ConflictId" class="form-control" />
                <span asp-validation-for="ConflictId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThumbNail" class="control-label"></label>
                <input asp-for="ThumbNail" class="form-control" />
                <span asp-validation-for="ThumbNail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DownloadLink" class="control-label"></label>
                <input asp-for="DownloadLink" class="form-control" />
                <span asp-validation-for="DownloadLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalDownloads" class="control-label"></label>
                <input asp-for="TotalDownloads" class="form-control" />
                <span asp-validation-for="TotalDownloads" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DownloadUrl" class="control-label"></label>
                <input asp-for="DownloadUrl" class="form-control" />
                <span asp-validation-for="DownloadUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="canBeDownloadedByOtherUsers" class="control-label"></label>
                <input asp-for="canBeDownloadedByOtherUsers" class="form-control" />
                <span asp-validation-for="canBeDownloadedByOtherUsers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileExtension" class="control-label"></label>
                <input asp-for="FileExtension" class="form-control" />
                <span asp-validation-for="FileExtension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isZipFile" class="control-label"></label>
                <input asp-for="isZipFile" class="form-control" />
                <span asp-validation-for="isZipFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isJsonFile" class="control-label"></label>
                <input asp-for="isJsonFile" class="form-control" />
                <span asp-validation-for="isJsonFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DownloadJson" class="control-label"></label>
                <input asp-for="DownloadJson" class="form-control" />
                <span asp-validation-for="DownloadJson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeannatId" class="control-label"></label>
                <input asp-for="TeannatId" class="form-control" />
                <span asp-validation-for="TeannatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isDisplayHomePage" class="control-label"></label>
                <input asp-for="isDisplayHomePage" class="form-control" />
                <span asp-validation-for="isDisplayHomePage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isFeatured" class="control-label"></label>
                <input asp-for="isFeatured" class="form-control" />
                <span asp-validation-for="isFeatured" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThumbNailPath" class="control-label"></label>
                <input asp-for="ThumbNailPath" class="form-control" />
                <span asp-validation-for="ThumbNailPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isActive" class="control-label"></label>
                <input asp-for="isActive" class="form-control" />
                <span asp-validation-for="isActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isDeleted" class="control-label"></label>
                <input asp-for="isDeleted" class="form-control" />
                <span asp-validation-for="isDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IPAddressBytes" class="control-label"></label>
                <input asp-for="IPAddressBytes" class="form-control" />
                <span asp-validation-for="IPAddressBytes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
