@model MSFSAddons.Dal.ViewModels.ClubViewModel
<!-- Modal -->
<div class="modal fade" id="CreateClubModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Invite</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Club.Name" class="control-label"></label>
                    <input asp-for="Club.Name" class="form-control" />
                    <span asp-validation-for="Club.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Club.Description" class="control-label"></label>
                    <input asp-for="Club.Description" class="form-control" />
                    <span asp-validation-for="Club.Description" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="Club.Logo" class="control-label"></label>
                    <input type-"File" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send Invite</button>
            </div>

        </div>

    </div>
</div>
