@model MSFSClubManager.Dal.Models.Pilot

@{
   
    Layout = "~/Themes/SocialNet/_PilotAbout.cshtml";
}
<div class="grid grid-3-6-3">
    <!-- GRID COLUMN -->
    <div class="grid-column">
        <!-- WIDGET BOX -->
        <div class="widget-box">
            <!-- WIDGET BOX SETTINGS -->
            <div class="widget-box-settings">
                <!-- POST SETTINGS WRAP -->
                <div class="post-settings-wrap">
                    <!-- POST SETTINGS -->
                    <div class="post-settings widget-box-post-settings-dropdown-trigger">
                        <!-- POST SETTINGS ICON -->
                        <svg class="post-settings-icon icon-more-dots">
                            <use xlink:href="#svg-more-dots"></use>
                        </svg>
                        <!-- /POST SETTINGS ICON -->
                    </div>
                    <!-- /POST SETTINGS -->
                    <!-- SIMPLE DROPDOWN -->
                    <div class="simple-dropdown widget-box-post-settings-dropdown">
                        <!-- SIMPLE DROPDOWN LINK -->
                        <p class="simple-dropdown-link">Widget Settings</p>
                        <!-- /SIMPLE DROPDOWN LINK -->
                    </div>
                    <!-- /SIMPLE DROPDOWN -->
                </div>
                <!-- /POST SETTINGS WRAP -->
            </div>
            <!-- /WIDGET BOX SETTINGS -->
            <!-- WIDGET BOX TITLE -->
            <p class="widget-box-title">Social Networks</p>
            <!-- /WIDGET BOX TITLE -->
            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
                <!-- SOCIAL LINKS -->
                <div class="social-links multiline align-left">
                    <!-- SOCIAL LINK -->
                    <a class="social-link small facebook" href="#">
                        <!-- SOCIAL LINK ICON -->
                        <svg class="social-link-icon icon-facebook">
                            <use xlink:href="#svg-facebook"></use>
                        </svg>
                        <!-- /SOCIAL LINK ICON -->
                    </a>
                    <!-- /SOCIAL LINK -->
                    <!-- SOCIAL LINK -->
                    <a class="social-link small twitter" href="#">
                        <!-- SOCIAL LINK ICON -->
                        <svg class="social-link-icon icon-twitter">
                            <use xlink:href="#svg-twitter"></use>
                        </svg>
                        <!-- /SOCIAL LINK ICON -->
                    </a>
                    <!-- /SOCIAL LINK -->
                    <!-- SOCIAL LINK -->
                    <a class="social-link small instagram" href="#">
                        <!-- SOCIAL LINK ICON -->
                        <svg class="social-link-icon icon-instagram">
                            <use xlink:href="#svg-instagram"></use>
                        </svg>
                        <!-- /SOCIAL LINK ICON -->
                    </a>
                    <!-- /SOCIAL LINK -->
                    <!-- SOCIAL LINK -->
                    <a class="social-link small twitch" href="#">
                        <!-- SOCIAL LINK ICON -->
                        <svg class="social-link-icon icon-twitch">
                            <use xlink:href="#svg-twitch"></use>
                        </svg>
                        <!-- /SOCIAL LINK ICON -->
                    </a>
                    <!-- /SOCIAL LINK -->
                    <!-- SOCIAL LINK -->
                    <a class="social-link small artstation" href="#">
                        <!-- SOCIAL LINK ICON -->
                        <svg class="social-link-icon icon-artstation">
                            <use xlink:href="#svg-artstation"></use>
                        </svg>
                        <!-- /SOCIAL LINK ICON -->
                    </a>
                    <!-- /SOCIAL LINK -->
                    <!-- SOCIAL LINK -->
                    <a class="social-link small youtube" href="#">
                        <!-- SOCIAL LINK ICON -->
                        <svg class="social-link-icon icon-youtube">
                            <use xlink:href="#svg-youtube"></use>
                        </svg>
                        <!-- /SOCIAL LINK ICON -->
                    </a>
                    <!-- /SOCIAL LINK -->
                    <!-- SOCIAL LINK -->
                    <a class="social-link small discord" href="#">
                        <!-- SOCIAL LINK ICON -->
                        <svg class="social-link-icon icon-discord">
                            <use xlink:href="#svg-discord"></use>
                        </svg>
                        <!-- /SOCIAL LINK ICON -->
                    </a>
                    <!-- /SOCIAL LINK -->
                    <!-- SOCIAL LINK -->
                    <a class="social-link small patreon" href="#">
                        <!-- SOCIAL LINK ICON -->
                        <svg class="social-link-icon icon-patreon">
                            <use xlink:href="#svg-patreon"></use>
                        </svg>
                        <!-- /SOCIAL LINK ICON -->
                    </a>
                    <!-- /SOCIAL LINK -->
                </div>
                <!-- /SOCIAL LINKS -->
            </div>
            <!-- /WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->
        <!-- WIDGET BOX -->
        <div class="widget-box">
            <!-- WIDGET BOX SETTINGS -->
            <div class="widget-box-settings">
                <!-- POST SETTINGS WRAP -->
                <div class="post-settings-wrap">
                    <!-- POST SETTINGS -->
                    <div class="post-settings widget-box-post-settings-dropdown-trigger">
                        <!-- POST SETTINGS ICON -->
                        <svg class="post-settings-icon icon-more-dots">
                            <use xlink:href="#svg-more-dots"></use>
                        </svg>
                        <!-- /POST SETTINGS ICON -->
                    </div>
                    <!-- /POST SETTINGS -->
                    <!-- SIMPLE DROPDOWN -->
                    <div class="simple-dropdown widget-box-post-settings-dropdown">
                        <!-- SIMPLE DROPDOWN LINK -->
                        <p class="simple-dropdown-link">Widget Settings</p>
                        <!-- /SIMPLE DROPDOWN LINK -->
                    </div>
                    <!-- /SIMPLE DROPDOWN -->
                </div>
                <!-- /POST SETTINGS WRAP -->
            </div>
            <!-- /WIDGET BOX SETTINGS -->
            <!-- WIDGET BOX TITLE -->
            <p class="widget-box-title">Group Info</p>
            <!-- /WIDGET BOX TITLE -->
            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
                <!-- PARAGRAPH -->
                <p class="paragraph">Hello everyone! This is a group open to all for cosplayers around the world to talk about their passion, trade tips, ask for opinions and have a great time!</p>
                <!-- /PARAGRAPH -->
                <!-- INFORMATION LINE LIST -->
                <div class="information-line-list">
                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Created</p>
                        <!-- /INFORMATION LINE TITLE -->
                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text">April 9th, 2018</p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->
                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Type</p>
                        <!-- /INFORMATION LINE TITLE -->
                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text">Public</p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->
                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Email</p>
                        <!-- /INFORMATION LINE TITLE -->
                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text"><a href="#">info@cosworld.com</a></p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->
                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Web</p>
                        <!-- /INFORMATION LINE TITLE -->
                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text"><a href="#">www.cosplayworld.com</a></p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->
                </div>
                <!-- /INFORMATION LINE LIST -->
            </div>
            <!-- /WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->
    </div>
    <!-- /GRID COLUMN -->
    <!-- GRID COLUMN -->
    <div class="grid-column">
        <!-- GRID -->
        <div class="grid grid-half">
            <!-- STATS DECORATION -->
            <div class="stats-decoration v2 secondary">
                <!-- STATS DECORATION TITLE -->
                <p class="stats-decoration-title">659</p>
                <!-- /STATS DECORATION TITLE -->
                <!-- STATS DECORATION SUBTITLE -->
                <p class="stats-decoration-subtitle">Group Views</p>
                <!-- /STATS DECORATION SUBTITLE -->
                <!-- STATS DECORATION TEXT -->
                <p class="stats-decoration-text">Last Month</p>
                <!-- /STATS DECORATION TEXT -->
                <!-- PERCENTAGE DIFF -->
                <div class="percentage-diff">
                    <!-- PERCENTAGE DIFF ICON WRAP -->
                    <div class="percentage-diff-icon-wrap positive">
                        <!-- PERCENTAGE DIFF ICON -->
                        <svg class="percentage-diff-icon icon-plus-small">
                            <use xlink:href="#svg-plus-small"></use>
                        </svg>
                        <!-- /PERCENTAGE DIFF ICON -->
                    </div>
                    <!-- /PERCENTAGE DIFF ICON WRAP -->
                    <!-- PERCENTAGE DIFF TEXT -->
                    <p class="percentage-diff-text">8.1%</p>
                    <!-- /PERCENTAGE DIFF TEXT -->
                </div>
                <!-- /PERCENTAGE DIFF -->
            </div>
            <!-- /STATS DECORATION -->
            <!-- STATS DECORATION -->
            <div class="stats-decoration v2 primary">
                <!-- STATS DECORATION TITLE -->
                <p class="stats-decoration-title">14</p>
                <!-- /STATS DECORATION TITLE -->
                <!-- STATS DECORATION SUBTITLE -->
                <p class="stats-decoration-subtitle">New Discussions</p>
                <!-- /STATS DECORATION SUBTITLE -->
                <!-- STATS DECORATION TEXT -->
                <p class="stats-decoration-text">Last Month</p>
                <!-- /STATS DECORATION TEXT -->
                <!-- PERCENTAGE DIFF -->
                <div class="percentage-diff">
                    <!-- PERCENTAGE DIFF ICON WRAP -->
                    <div class="percentage-diff-icon-wrap negative">
                        <!-- PERCENTAGE DIFF ICON -->
                        <svg class="percentage-diff-icon icon-minus-small">
                            <use xlink:href="#svg-minus-small"></use>
                        </svg>
                        <!-- /PERCENTAGE DIFF ICON -->
                    </div>
                    <!-- /PERCENTAGE DIFF ICON WRAP -->
                    <!-- PERCENTAGE DIFF TEXT -->
                    <p class="percentage-diff-text">0.2%</p>
                    <!-- /PERCENTAGE DIFF TEXT -->
                </div>
                <!-- /PERCENTAGE DIFF -->
            </div>
            <!-- /STATS DECORATION -->
        </div>
        <!-- /GRID -->
        <!-- WIDGET BOX -->
        <div class="widget-box">
            <!-- WIDGET BOX ACTIONS -->
            <div class="widget-box-actions">
                <!-- WIDGET BOX ACTION -->
                <div class="widget-box-action">
                    <!-- WIDGET BOX TITLE -->
                    <p class="widget-box-title">New Members</p>
                    <!-- /WIDGET BOX TITLE -->
                </div>
                <!-- /WIDGET BOX ACTION -->
                <!-- WIDGET BOX ACTION -->
                <div class="widget-box-action">
                    <!-- FORM SELECT -->
                    <div class="form-select v2">
                        <select id="members-report-date" name="members_report_date">
                            <option value="0">Jan - Dec 2018</option>
                            <option value="1">Jan - Dec 2019</option>
                        </select>
                        <!-- FORM SELECT ICON -->
                        <svg class="form-select-icon icon-small-arrow">
                            <use xlink:href="#svg-small-arrow"></use>
                        </svg>
                        <!-- /FORM SELECT ICON -->
                    </div>
                    <!-- /FORM SELECT -->
                </div>
                <!-- /WIDGET BOX ACTION -->
            </div>
            <!-- /WIDGET BOX ACTIONS -->
            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
                <!-- CHART WRAP -->
                <div class="chart-wrap">
                    <!-- CHART -->
                    <div class="chart">
                        <canvas id="members-report-chart"></canvas>
                    </div>
                    <!-- /CHART -->
                </div>
                <!-- /CHART WRAP -->
            </div>
            <!-- WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->
    </div>
    <!-- /GRID COLUMN -->
    <!-- GRID COLUMN -->
    <div class="grid-column">
        <!-- WIDGET BOX -->
        <div class="widget-box">
            <!-- WIDGET BOX SETTINGS -->
            <div class="widget-box-settings">
                <!-- POST SETTINGS WRAP -->
                <div class="post-settings-wrap">
                    <!-- POST SETTINGS -->
                    <div class="post-settings widget-box-post-settings-dropdown-trigger">
                        <!-- POST SETTINGS ICON -->
                        <svg class="post-settings-icon icon-more-dots">
                            <use xlink:href="#svg-more-dots"></use>
                        </svg>
                        <!-- /POST SETTINGS ICON -->
                    </div>
                    <!-- /POST SETTINGS -->
                    <!-- SIMPLE DROPDOWN -->
                    <div class="simple-dropdown widget-box-post-settings-dropdown">
                        <!-- SIMPLE DROPDOWN LINK -->
                        <p class="simple-dropdown-link">Widget Settings</p>
                        <!-- /SIMPLE DROPDOWN LINK -->
                    </div>
                    <!-- /SIMPLE DROPDOWN -->
                </div>
                <!-- /POST SETTINGS WRAP -->
            </div>
            <!-- /WIDGET BOX SETTINGS -->
            <!-- WIDGET BOX TITLE -->
            <p class="widget-box-title">Group Rules</p>
            <!-- /WIDGET BOX TITLE -->
            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
                <!-- PARAGRAPH -->
                <p class="paragraph">Hi! To ensure that this is a great place for everyone to have a wondefull time, we have some rules. Breaking them will result in a ban from the group.</p>
                <!-- /PARAGRAPH -->
                <!-- ORDERED ITEM LIST -->
                <ol class="ordered-item-list">
                    <!-- ORDERED ITEM -->
                    <li class="ordered-item">
                        <!-- ORDERED ITEM BULLET -->
                        <p class="ordered-item-bullet">01-</p>
                        <!-- /ORDERED ITEM BULLET -->
                        <!-- ORDERED ITEM TEXT -->
                        <p class="ordered-item-text">Be positive! Respect and help other viewers</p>
                        <!-- /ORDERED ITEM TEXT -->
                    </li>
                    <!-- /ORDERED ITEM -->
                    <!-- ORDERED ITEM -->
                    <li class="ordered-item">
                        <!-- ORDERED ITEM BULLET -->
                        <p class="ordered-item-bullet">02-</p>
                        <!-- /ORDERED ITEM BULLET -->
                        <!-- ORDERED ITEM TEXT -->
                        <p class="ordered-item-text">No insults, aggravations or any other bad language</p>
                        <!-- /ORDERED ITEM TEXT -->
                    </li>
                    <!-- /ORDERED ITEM -->
                    <!-- ORDERED ITEM -->
                    <li class="ordered-item">
                        <!-- ORDERED ITEM BULLET -->
                        <p class="ordered-item-bullet">03-</p>
                        <!-- /ORDERED ITEM BULLET -->
                        <!-- ORDERED ITEM TEXT -->
                        <p class="ordered-item-text">No self promotions</p>
                        <!-- /ORDERED ITEM TEXT -->
                    </li>
                    <!-- /ORDERED ITEM -->
                    <!-- ORDERED ITEM -->
                    <li class="ordered-item">
                        <!-- ORDERED ITEM BULLET -->
                        <p class="ordered-item-bullet">04-</p>
                        <!-- /ORDERED ITEM BULLET -->
                        <!-- ORDERED ITEM TEXT -->
                        <p class="ordered-item-text">Avoid political or religious discussions</p>
                        <!-- /ORDERED ITEM TEXT -->
                    </li>
                    <!-- /ORDERED ITEM -->
                    <!-- ORDERED ITEM -->
                    <li class="ordered-item">
                        <!-- ORDERED ITEM BULLET -->
                        <p class="ordered-item-bullet">05-</p>
                        <!-- /ORDERED ITEM BULLET -->
                        <!-- ORDERED ITEM TEXT -->
                        <p class="ordered-item-text">No comment spamming</p>
                        <!-- /ORDERED ITEM TEXT -->
                    </li>
                    <!-- /ORDERED ITEM -->
                </ol>
                <!-- /ORDERED ITEM LIST -->
            </div>
            <!-- /WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->
    </div>
    <!-- /GRID COLUMN -->
</div>
<div>
</div>
