@page
@model ForgotPasswordModel
@{
 
    Layout = "~/Themes/FrontEnd/_LoginLayout.cshtml";

}
}

<h1>@ViewData["Title"]</h1>

<hr />


<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-12 col-md-12 d-block mx-auto">
            <div class="card mb-0">
                <div class="card-header">
                    <h3 class="card-title">Forgot your password?</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Email Confirmation</button>
                    </form>
                </div>
            </div>

            </div>
</div>
    </div>
</div>
</div>
            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
