<div class="header-style horizontal-main bg-dark-transparent clearfix">
    <div class="horizontal-mainwrapper container clearfix">
        <nav class="horizontalMenu clearfix d-md-flex">
            <ul class="horizontalMenu-list">
                <li aria-haspopup="true">
                    <a href="#">Home </a>
                 
                </li>
                 <li aria-haspopup="true">
                    <a href="#" class="">Add Ons <span class="fe fe-chevron-down"></span> </a>
                    <div class="horizontal-megamenu clearfix">
                        <div class="container">
                            <div class="megamenu-content">
                                <div class="row">
                                    <ul class="col link-list">
                                        <li><a href="page-details.html">Airplanes</a></li>
                                        <li><a href="page-details1.html">Countries</a></li>
                                        <li><a href="page-list-right.html">Liveries</a></li>
                                        <li><a href="page-list.html">Mods</a></li>
                                        <li><a href="page-details1.html">Sdk Tools</a></li>
                                        <li><a href="page-details1.html">Scenery</a></li>
                                    </ul>
                                    
                                                
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li aria-haspopup="true" class="d-lg-none mt-5 pb-5 mt-lg-0">
                    <span><a class="btn ripple  btn-info" href="/Identity/Account/Register">Register Now</a></span>
                </li>
            </ul>
           
        </nav>
    </div>
</div>
