 <div class="header-style horizontal-main bg-dark-transparent clearfix">
    <div class="horizontal-mainwrapper container clearfix">
        <nav class="horizontalMenu clearfix d-md-flex">
            <ul class="horizontalMenu-list">
                <li aria-haspopup="true">
                    <a href="#">Home <span class="fe fe-chevron-down"></span></a>
                    <ul class="sub-menu">
                        <li><a href="index.html">Home Page 01</a></li>
                        <li><a href="index2.html">Home Page 02</a></li>
                        <li><a href="index3.html">Home Page 03</a></li>
                        <li><a href="index4.html">Home Page 04</a></li>
                        <li><a href="index5.html">Home Page 05</a></li>
                        <li><a href="index6.html">Home Page 06</a></li>
                        <li><a href="index7.html">Home Page 07</a></li>
                        <li><a href="index8.html">Home Page 08</a></li>
                        <li><a href="index9.html">Home Page 09</a></li>
                        <li><a href="index10.html">Home Page 10</a></li>
                    </ul>
                </li>
                <li aria-haspopup="true"><a href="about.html">About Us </a></li>
                 <li aria-haspopup="true">
                    <a href="#" class="">Add Ons <span class="fe fe-chevron-down"></span></a>
                    <div class="horizontal-megamenu clearfix">
                        <div class="container">
                            <div class="megamenu-content">
                                <div class="row">
                                    <ul class="col link-list">
                                        <li class="title">Add Ons</li>
                                        <li><a href="page-list.html">Mods</a></li>
                                        <li><a href="page-list-right.html">Liveries</a></li>
                                        <li><a href="page-details.html">Airplanes</a></li>
                                        <li><a href="page-details1.html">Sdk Tools</a></li>
                                        
                                    </ul>
                                    
                                                
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li aria-haspopup="true">
                    <a href="#">Blog <span class="fe fe-chevron-down m-0"></span></a>
                    <ul class="sub-menu">
                        <li aria-haspopup="true">
                            <a href="#">Blog Grid <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true"><a href="blog-grid.html">Blog Grid Left</a></li>
                                <li aria-haspopup="true"><a href="blog-grid-right.html">Blog Grid Right</a></li>
                                <li aria-haspopup="true"><a href="blog-grid-center.html">Blog Grid Center</a></li>
                            </ul>
                        </li>
                        <li aria-haspopup="true">
                            <a href="#">Blog List <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true"><a href="blog-list.html">Blog List Left</a></li>
                                <li aria-haspopup="true"><a href="blog-list-right.html">Blog List Right</a></li>
                                <li aria-haspopup="true"><a href="blog-list-center.html">Blog List Center</a></li>
                            </ul>
                        </li>
                        <li aria-haspopup="true">
                            <a href="#">Blog Details <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true"><a href="blog-details.html">Blog Details Left</a></li>
                                <li aria-haspopup="true"><a href="blog-details-right.html">Blog Details Right</a></li>
                                <li aria-haspopup="true"><a href="blog-details-center.html">Blog Details Center</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li aria-haspopup="true">
                    <a href="#">Custom Pages <span class="fe fe-chevron-down m-0"></span></a>
                    <ul class="sub-menu">
                        <li><a href="forum.html">Forum</a></li>
                        <li><a href="/Identity/Account/Register">Register</a></li>
                        <li><a href="/Identity/Account/Login">Login</a></li>
                        <li><a href="login-2.html">Login 02</a></li>
                        <li><a href="forgot.html">Forgot Password</a></li>
                        <li><a href="lockscreen.html">Lock Screen</a></li>
                        <li><a href="underconstruction.html">Under Constructions</a></li>
                        <li><a href="404.html">404</a></li>
                    </ul>
                </li>
                <li aria-haspopup="true"><a href="contact.html"> Contact Us</a></li>
                <li aria-haspopup="true" class="d-lg-none mt-5 pb-5 mt-lg-0">
                    <span><a class="btn ripple  btn-info" href="/Identity/Account/Register">Register Now</a></span>
                </li>
            </ul>
            <ul class="mb-0">
                <li aria-haspopup="true" class="d-none d-lg-block ">
                    <span><a class="btn ripple  btn-danger ad-post" href="register.html"><i class="fa fa-cart-plus mr-2 text-white fs-16"></i>Become a Seller</a></span>
                </li>
            </ul>
        </nav>
    </div>
</div>