<div class="d-flex ml-auto header-right-icons header-search-icon">

    <div class="dropdown d-md-flex notifications">
        <a class="nav-link icon" data-toggle="dropdown">
            <i class="fe fe-bell"></i>
            <span class="pulse bg-success"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <div class="notifications-menu header-dropdown-list">
                <a href="#" class="dropdown-item d-flex">
                    <div class="text-primary fs-18 mr-3 ">
                        <i class="fe fe-mail text-primary"></i>
                    </div>
                    <div>
                        <h6 class="mb-1">Commented on your post.</h6>
                        <div class="small text-muted">3 hours ago</div>
                    </div>
                </a>
                <a href="#" class="dropdown-item d-flex border-top">
                    <div class="text-secondary fs-18 mr-3 ">
                        <i class="fe fe-user text-secondary"></i>
                    </div>
                    <div>
                        <h6 class="mb-1">New User Registered.</h6>
                        <div class="small text-muted">1 day ago</div>
                    </div>
                </a>
                <a href="#" class="dropdown-item d-flex border-top">
                    <div class="text-success fs-18 mr-3 ">
                        <i class="fe fe-thumbs-up text-success"></i>
                    </div>
                    <div>
                        <h6 class="mb-1">Someone likes our posts</h6>
                        <div class="small text-muted">5 mins ago</div>
                    </div>
                </a>
                <a href="#" class="dropdown-item d-flex border-top">
                    <div class="text-purple fs-18 mr-3 ">
                        <i class="fe fe-upload text-purple"></i>
                    </div>
                    <div>
                        <h6 class="mb-1">New file has been uploaded</h6>
                        <div class="small text-muted">50 sec ago</div>
                    </div>
                </a>
                <a href="#" class="dropdown-item d-flex border-top">
                    <div class="text-danger fs-18 mr-3 ">
                        <i class="fe fe-alert-circle text-danger"></i>
                    </div>
                    <div>
                        <h6 class="mb-1">System alert</h6>
                        <div class="small text-muted">2 days ago</div>
                    </div>
                </a>
                <a href="#" class="dropdown-item d-flex border-top">
                    <div class="text-warning fs-18 mr-3 ">
                        <i class="fe fe-server text-warning"></i>
                    </div>
                    <div>
                        <h6 class="mb-1">Server Rebooted</h6>
                        <div class="small text-muted">45 mins ago</div>
                    </div>
                </a>
                <a href="#" class="dropdown-item d-flex border-top">
                    <div class="text-secondary fs-18 mr-3 ">
                        <i class="fe fe-layers text-secondary"></i>
                    </div>
                    <div>
                        <h6 class="mb-1">Completed One task</h6>
                        <div class="small text-muted">3 mins ago</div>
                    </div>
                </a>
            </div>
            <div class="dropdown-footer p-3">
                <a href="#" class="fs-14 text-dark text-center">View all Notification</a>
            </div>
        </div>
    </div><!-- NOTIFICATIONS -->
    <div class="dropdown d-md-flex message">
        <a class="nav-link icon text-center" data-toggle="dropdown">
            <i class="fe fe-mail"></i>
            <span class="nav-unread badge badge-info badge-pill">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <div class="message-menu header-dropdown-list">
                <a class="dropdown-item border-bottom" href="#">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="~/images/users/male/1.jpg"></span>
                        </div>
                        <div class="d-flex">
                            <div class="pl-3">
                                <span class="font-weight-semibold">Jack Wright</span> all the best your template awesome
                                <div class="small text-muted">
                                    3 hours ago
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item border-bottom">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <span class="avatar avatar-md brround  align-self-center cover-image" data-image-src="~/images/users/female/1.jpg"></span>
                        </div>
                        <div class="d-flex">
                            <div class="pl-3">
                                <span class="font-weight-semibold">Lisa Rutherford</span> Hey! there I'm available
                                <div class="small text-muted">
                                    5 hour ago
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item border-bottom">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <span class="avatar avatar-md brround  align-self-center cover-image" data-image-src="~/images/users/male/2.jpg"></span>
                        </div>
                        <div class="d-flex">
                            <div class="pl-3">
                                <span class="font-weight-semibold">Blake Walker</span> just created a new blog post
                                <div class="small text-muted">
                                    45 mintues ago
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item border-bottom">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="~/images/users/female/2.jpg"></span>
                        </div>
                        <div class="d-flex">
                            <div class="pl-3">
                                <span class="font-weight-semibold">Fiona Morrison</span> added new comment on your photo
                                <div class="small text-muted">
                                    2 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item border-bottom">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <span class="avatar avatar-md brround  align-self-center cover-image" data-image-src="~/images/users/male/4.jpg"></span>
                        </div>
                        <div class="d-flex">
                            <div class="pl-3">
                                <span class="font-weight-semibold">Stewart Bond</span> your payment invoice is generated
                                <div class="small text-muted">
                                    3 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item border-bottom">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <span class="avatar avatar-md brround  align-self-center cover-image" data-image-src="~/images/users/female/5.jpg"></span>
                        </div>
                        <div class="d-flex">
                            <div class="pl-3">
                                <span class="font-weight-semibold">Faith Dickens</span> please check your mail....
                                <div class="small text-muted">
                                    4 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item text-center">See all Messages</a>
        </div>
    </div><!-- MESSAGE-BOX -->
    <div class="dropdown d-md-flex profile-1">
        <a class="nav-link icon text-center" data-toggle="dropdown">
            <i class="fe fe-user"></i>
            <span class="pulse bg-success"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <div class="drop-heading">
                <div class="text-center">
                    <h5 class="text-dark mb-1">Jacob Smith</h5>
                    <small class="text-muted fs-16 text-primary font-weight-semibold">$478.99</small>
                </div>
            </div>
            <div class="dropdown-divider m-0"></div>
            <a class="dropdown-item" href="mydash.html">
                <i class="dropdown-icon ti-write"></i>Edit Profile
            </a>
            <a class="dropdown-item" href="myads.html">
                <i class="dropdown-icon  fe fe-codepen"></i> My Items
            </a>
            <a class="dropdown-item" href="myfavorite.html">
                <span class="float-right"></span>
                <i class="dropdown-icon ti-heart"></i>  My Favorite
            </a>
            <a class="dropdown-item" href="manged.html">
                <i class="dropdown-icon ti-palette"></i> Managed Items
            </a>
            <a class="dropdown-item" href="payments.html">
                <i class="dropdown-icon ti-credit-card"></i> Payments
            </a>
            <a class="dropdown-item" href="orders.html">
                <i class="dropdown-icon ti-shopping-cart"></i> Orders
            </a>
            <a class="dropdown-item" href="statements.html">
                <i class="dropdown-icon ti-filter"></i> Statements
            </a>
            <a class="dropdown-item" href="tips.html">
                <i class="dropdown-icon ti-harddrive"></i> Safety Tips
            </a>
            <a class="dropdown-item" href="settings.html">
                <i class="dropdown-icon ti-settings"></i> Settings
            </a>
            <div class="dropdown-divider mt-0"></div>
            <a class="dropdown-item" href="#">
                <i class="dropdown-icon ti-unlock"></i>  Logout
            </a>
        </div>
    </div>
</div>