@model List<MSFSAddonsHub.Dal.Models.Mods>
<div class="container">
    <div class="section-title center-block text-center">
        <h2>Featured Add Ons</h2>
        
    </div>
    <div class="panel panel-primary">
        <div class="">
            <div class="tabs-menu ">
                <!-- Tabs -->
                <ul class="nav panel-tabs eductaional-tabs mb-6">
                    <li class=""><a href="#tab-1" class="active show" data-toggle="tab">Aircraft</a></li>
                    
                    <li><a href="#tab-2" data-toggle="tab" class="">Mods</a></li>
                    <li><a href="#tab-3" data-toggle="tab" class="">Utils</a></li>
                    
                    
                    
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="tab-content p-0 pt-3">
                <div class="tab-pane  active show" id="tab-1">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-xl-4 col-md-6">
                                <div class="card overflow-hidden">
                                    <div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
                                    <div class="item-card2-tans">
                                        <div class="item-card7-imgs">
                                            <a href="page-details.html"></a>
                                            <img src="@item.ThumbNail" class="cover-image">
                                            <div class="tag-text">
                                                <span class="bg-dark-transparent tag-option">Mods</span>
                                            </div>
                                        </div>
                                        <div class="item-card2-icons">
                                            <a href="#" class="bg-primary" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fe fe-heart"></i></a>
                                            @*<a href="#" class="bg-secondary" data-toggle="tooltip" data-placement="top" title="Buy Now"><i class="fe fe-shopping-cart"></i></a>*@
                                            <a href="#" class="bg-info" data-toggle="tooltip" data-placement="top" title="View Details"><i class="fe fe-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="d-md-flex">
                                                <div class="">
                                                    <a href="page-details.html" class="text-dark"><h4 class="font-weight-semibold">@item.Name</h4></a>
                                                    <p class="fs-13 mb-0 text-muted">Test Description </p>
                                                </div>
                                                <div class="ml-auto">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer pt-3">
                                        <div class="footerimg d-sm-flex mt-0 mb-0">
                                            <div class="d-flex footerimg-l mb-2 mb-sm-0">
                                                <span class="avatar avatar-sm brround  mr-2 bg-primary">H</span>
                                                <a href="#" class="time-title text-muted p-0 leading-normal fs-13 mt-1">Gavin Fraser<i class="si si-check text-success fs-12 ml-1" data-toggle="tooltip" data-placement="top" title="verified"></i></a>
                                            </div>
                                            <div class="footerimg-r ml-auto">
                                                <div class="d-flex">
                                                    <span class="text-muted"><i class="fe fe-download text-dark"></i> 36</span>
                                                    <div class="rating-stars d-flex ml-3">
                                                        <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="4">
                                                        <div class="rating-stars-container">
                                                            <div class="rating-star sm">
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                            <div class="rating-star sm">
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                            <div class="rating-star sm">
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                            <div class="rating-star sm">
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                            <div class="rating-star sm">
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div></div>