@model MSFSAddons.ViewModels.ClubInvitesViewModel

<button type="button" class="btn btn-primary btn-lg">Accept Invite</button>
<button type="button" class="btn btn-primary btn-lg">Decline Invite</button>
