
@model string
@{
    ViewData["Title"] = "Create";
    Layout = "~/Themes/DashBoard/_Layout.cshtml";

} 

<div class="col-xl-12 col-lg-12 col-md-12">
    <div class="card ads-tabs">
        <div class="card-body">
            <h1 class="bg-info text-white">Create a Role</h1>
            <a asp-action="Index" class="btn btn-secondary">Back</a>
            <div asp-validation-summary="All" class="text-danger"></div>

            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input name="name" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
</div>
</div>
</div>