@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Themes/FrontEnd/_LoginLayout.cshtml";

}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-12 col-md-12 d-block mx-auto">
            <div class="card mb-0">
                <div class="card-header">
                    <h3 class="card-title">Login to your Account</h3>
                </div>
                <div class="card-body">
                    <p>
                        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
